<section class="app">
  <header class="header">
    <h1>Chesssssss...sss</h1>
  </header>

  <main>
    <button class="btn btn-light"><%= link_to 'Browse Games', games_path %></button>
  </main>
</section>
