<section class="app">
  <header class="header">
    <h1>Chesssssss...sss</h1>
  </header>

  <main>
<<<<<<< HEAD
=======
    <!-- testing that devise was install correctly DELETE ME AFTER MERGE! -->
    <!-- <%= user_signed_in? ? 'YES': 'NO' %> -->
>>>>>>> feature/add-devise
  </main>
</section>
