<h1>List of Games</h1>

<ul>
  <% @games.available.each do |game| %>
    <li>
      <h4><%= game.white_player.playername %> - <%= game.name %></h4>
      <%= button_to 'Join Game', game_path(game), :method=> :put %>
    </li>
  <% end %>
</ul>
<button><%= link_to 'Create a new game', new_game_path %></button>
