<h1><%= @game.name %></h1>
<br/>
<table class="chessboard">
	<tr>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
	</tr>
	<tr>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
	</tr>
	<tr>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
	</tr>
	<tr>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
	</tr>
	<tr>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
	</tr>
	<tr>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
	</tr>
	<tr>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
	</tr>
	<tr>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
		<td class="black"></td>
		<td class="white"></td>
	</tr>
