<h1><%= @game.name %></h1>
<br/>
<table class='chessboard'>
	<tr id='row-1'>
		<td id='column-1' class='white'></td>
		<td id='column-2' class='black'></td>
		<td id='column-3' class='white'></td>
		<td id='column-4' class='black'></td>
		<td id='column-5' class='white'></td>
		<td id='column-6' class='black'></td>
		<td id='column-7' class='white'></td>
		<td id='column-8' class='black'></td>
	</tr>
	<tr id='row-2'>
		<td id='column-1' class='black'></td>
		<td id='column-2' class='white'></td>
		<td id='column-3' class='black'></td>
		<td id='column-4' class='white'></td>
		<td id='column-5' class='black'></td>
		<td id='column-6' class='white'></td>
		<td id='column-7' class='black'></td>
		<td id='column-8' class='white'></td>
	</tr>
	<tr id='row-3'>
		<td id='column-1' class='white'></td>
		<td id='column-2' class='black'></td>
		<td id='column-3' class='white'></td>
		<td id='column-4' class='black'></td>
		<td id='column-5' class='white'></td>
		<td id='column-6' class='black'></td>
		<td id='column-7' class='white'></td>
		<td id='column-8' class='black'></td>
	</tr>
	<tr id='row-4'>
		<td id='column-1' class='black'></td>
		<td id='column-2' class='white'></td>
		<td id='column-3' class='black'></td>
		<td id='column-4' class='white'></td>
		<td id='column-5' class='black'></td>
		<td id='column-6' class='white'></td>
		<td id='column-7' class='black'></td>
		<td id='column-8' class='white'></td>
	</tr>
	<tr id='row-5'>
		<td id='column-1' class='white'></td>
		<td id='column-2' class='black'></td>
		<td id='column-3' class='white'></td>
		<td id='column-4' class='black'></td>
		<td id='column-5' class='white'></td>
		<td id='column-6' class='black'></td>
		<td id='column-7' class='white'></td>
		<td id='column-8' class='black'></td>
	</tr>
	<tr id='row-6'>
		<td id='column-1' class='black'></td>
		<td id='column-2' class='white'></td>
		<td id='column-3' class='black'></td>
		<td id='column-4' class='white'></td>
		<td id='column-5' class='black'></td>
		<td id='column-6' class='white'></td>
		<td id='column-7' class='black'></td>
		<td id='column-8' class='white'></td>
	</tr>
	<tr id='row-7'>
		<td id='column-1' class='white'></td>
		<td id='column-2' class='black'></td>
		<td id='column-3' class='white'></td>
		<td id='column-4' class='black'></td>
		<td id='column-5' class='white'></td>
		<td id='column-6' class='black'></td>
		<td id='column-7' class='white'></td>
		<td id='column-8' class='black'></td>
	</tr>
	<tr id='row-8'>
		<td id='column-1' class='black'></td>
		<td id='column-2' class='white'></td>
		<td id='column-3' class='black'></td>
		<td id='column-4' class='white'></td>
		<td id='column-5' class='black'></td>
		<td id='column-6' class='white'></td>
		<td id='column-7' class='black'></td>
		<td id='column-8' class='white'></td>
	</tr>
