<h1><%= current_game.name %></h1>
<br/>
<table class='chessboard'>
	<% @grid.each_with_index do |row, y| %>
		<tr id='row <%= y + 1 %>'>
			<% row.each_with_index do |piece, x| %>
				<td id='column <%= x + 1 %>'>
          <% if !piece.nil? %>
						<%= image_tag piece.picture %>
          <% end %>
        </td>
			<% end %>
		</tr>
	<% end %>
</table>
