<h1><%= current_game.name %></h1>
<br/>
<table class='chessboard'>
	<% @y_range.each do |y|%>
		<tr id='row <%= y %>'>
			<% @x_range.each do |x| %>
				<td id='column <%= x %>'><% render_piece(x,y) %></td>
			<% end %>
		</tr>
	<% end %>
</table>
