<h1><%= @game.white_player.playername %> - <%= @game.name %></h1>

<h4><%= @game.state %></h4>

<table class='chessboard'>
	<% @chess_board.each_with_index do |row, y| %>
		<tr>
			<% row.each_with_index do |piece, x| %>
				<td>
          <% if !piece.nil? %>
						<%= link_to_if Pieces::Disabled.call(piece),
							image_tag(piece.picture),
							piece_path(piece),
							class: "piece"%>
						<% end %>
					<% end %>
          <% end %>
        </td>
		</tr>
</table>
