///
/// Solid State by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;
		color: _palette(accent);
		> .label {
			display: none;
		}
	}

	.icon-background {
	    color: white;
	}
