// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
$blackbg: #000000;

.chessboard {
  margin: auto;
}

.black,
.white {
  border-style: solid;
  border-width: 1px;
  height: 50px;
  width: 50px;
}

.black {
  background: $blackbg;
}
