// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blackbg: #000000;
$whitebg: #ffffff;

.chessboard {
  margin: auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  background: $blackbg;
}
td {
    width: 40px; height: 40px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: $whitebg;
}
