// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blackbg: #eac59a;
$whitebg: #ffffff;

.chessboard {
  margin: 0 auto 3rem auto;
  cursor: pointer;
}

table {
  background: $blackbg;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  width: 100px; height: 100px;
  text-align: center;
}

td.active {
  border: 5px solid green;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: $whitebg;
}
