// Place all the styles related to the pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.piece {
  margin-bottom: 0px;
  padding: 1.5rem 0;
}

.piece:hover {
  cursor: pointer;
}
